
h1 { font-size: 65; color:orange; font-family: sans-serif;  }
ul{ background-color:paleturquoise;
}
#classeParaModificarCorDeFundoDaTagP_UlAoMesmoTempo {
background-color:sandybrown;
}
p {font-weight: 600px; font-size: 3em; text-decoration: springgreen;
}
body { font-size: 16px; font-style: serif; line-height: 10px; text-align: center; 
}
#Amarelo {background-color: yellow;}
#Vermelho {background-color: red;}
#Marrom  {background-color: brown;}
li { padding: 14px; border-radius: 15%;}



